<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <connectionStrings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>SH0YPbPfFKTjP7XqBqSMShroqSzR1Ry+Nxz9JJocrj++NaKuiSPoP8o4VCa+x7HXt3rZ9sYK+OuANzVuBx+UlmfW4Bwuw9CI9isf4BMCc4+i0GMP9FHjQb/+yo7ATHFS91VaCrmleSe1pCH8c8aFZ6B2OKk7+pHQCXldkCreN8Q=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>ZNtTwJtBqcETNwKQGXgP4V5eLV6QwpAY21ATWQRhYS8mNOBbRbVoncRcn13+Ws85nR4xWeUcFmngzkzHAwp8OyXwjGTNN4BxICKYaJgkJ7sMNWsQPnRtttDvYFVOJdsYmMy2rI+GroieC/91h1bD6SBM36tyIy7nuDy0I+qqHq3af0WoVZWQw/1SCxFtAvFDF3kwuPucIxeoxSDIAky/8qLIXOHBnp46GP4sagGVgr5nKL5DKLoTExSjtaCo+Zg/DUa6u3bFarNpeKspWDSyQHPyNikw82cWTCCgPRQs5GEAxz+AAxUEObFxcmNtQnm658Dz7WXbkAuVpnPsEmlEfbQBwKpPsos8bWu/KlSyRqw7e912owOJjYgGnuPsHO2n</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>G4HQosGYfQ1TWzxIoF2K/VNKIBYvyAF7/l0iMMhECk91AClk6BkXf108kK/9rttpjzci5x2X5A0qiWh2gXYUQ39mFAVWoqSNldNVYuIFHlQhAw29fOsJvnLPQkiUTGzyxmzM97eCzOEGVt+bN6iBst6/EM9EUzthlrCwhSfWUdI=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>vjkF9zgJ+Y240ToSiImtVCqBiSF/NNwV655ayjXRmPV5RBxgHOEqGrv58KjApfY8w0dtTEJt/o4PQuHWeGWmupu+QzMGOKub1I4Kp8aHXTrmW/+S5G7af+4P6PoXXzj/iLzQ73ec8FdiCNTSI8mjT4/he0RUSIWCWcSZ9zdcGfYXHxI46qm4cCiR2N23qqGNksXoTm/ELudouZwqSLrwg/JpbK8CDYKlwXKhaz5hY8gP0ystXj3+Ch5ZZsAYUXISRqkvP5sq706sFv4dYwZ871B/O+y2ROG4PZcvYboIWEub4PrlKq73UhVIkNiy+ozuEIz1d2BgtY/hT/Z4szIzxTGejEbCQkTA08hWps/pqqWJERQy0Gsg3S1c7uS+clLQGnuYnfXeFl9cnqWfoLy2gVVU0FuqG8J/q9EvXoR8vhdOC5NPICQ0O2lZY+WjLe7i/Xsx7lMsiefNnKcIXaqULpo2YD12F5yAQgzjWt9LkM9on7ItD9h4Wv4rDl530ee+bJ9vJZWjuSsnOmwEPjnCMNokQPk1uF3KNHLCxdD8zdtJSybIpduJCp94bO0btcYqzfER4HEn7D/HHGwlp5msxqi2IVFxJSaFNhWlfk0vn/g4kuTad56Rn3gykuetuLtnkqAWer0Xzy56XQVSHmlRM5P5lZ54Oj69qJqyOKFJgSLfKvyDVk6ybxdQ+G6VYLQgcXxf/UL9RNFjk1Plaw3ltw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>