<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=sqltraining.c8xdjhpxfhp5.us-east-1.rds.amazonaws.com; initial catalog=ProjectLiberate_Test; user id=sqlguest; password=july2016;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>FPQQjTY9jmSG4Ix38DAdP4ssgcC0GBpsxvwb9uHVVfqy9L3OE5pcjNjooBypHsHc1rdCmrECrnzwQbhXJiAn1IPyNAHS+7zZoPEFRdQQzelATBAfbne8Nyss+1/JxnAM9b5kDVtSC+xkzx2/YMSqcTGv3owSpPuMpfkKcZ+upm0=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>7C/AdicKHmmkcAlSofHi2yVDfa4dTX/59uZeFZOj5N9u0Q+uH42/kE7adBd76KDiYSNtvh7Ve2wzrIlOsau7FxUcAQjMZCaSDKe7MaMItYGaWoF5005Dd7UPuc/AMQpUOrsHdqNdgLx0/ljgyyXksukZXhko5bEs0RR15zmPuCXnft2JdQJQgoxC3kt2Sfs9tTrNsYI803c8+0s5psukVYVeqSqux9MxTAlU8gp520bSK63aB3EhqUaY6+l/IJ/dRWt/htvhyBq0if7wMTBGAVMTc+GKVC7OnNrpBB6zJb8h1/OJdNiIQEMREbJBXdMvUBge1vz1GS6lFLEsFunQwn+Rm1IxYWSLgDQoYDm5eseAbVWsO9Z/9T+8uSVG/et5dvK0c4sGTTWGT7dfyFzYVxY7KD7FU/aI2rj9e7rNzsGNOpF7qKK08ie18NCMs2IbyLWQPndlPAM/dq5tAYhtkUBByRweyDpHWgFEtYBbn7e/9FnI5sX4lWBiPYlOM9bZySdgJhdEIVFgkR9axVNFqKwF2jcbjJ+w16h4CJTCChmZzEHrRbEFVDaNslu5LOhvlUop425Q3h5YuiiZPyB8RneSHmHir3IRk+u0gVUnm+n4UiIQO1FGO8o93jiXILAE1tX8oWIvaLAIVZm99XUGwEMT3DBVreRr5Jhuz1HrF1NGMbBN+L9Zi2Udgi6avs87wSru/9zUhhfn10Eqoyv/jp/VmsJFOFyo</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAssociateService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ec2-54-175-5-94.compute-1.amazonaws.com/workforce-associate-soap/AssociateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssociateService" contract="WFSReference.IAssociateService" name="BasicHttpBinding_IAssociateService" />
    </client>
  </system.serviceModel>
</configuration>