<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>

  <connectionStrings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>n6d3idudOrPskADixfmwinPuRpt0z+GS3Ug8RgeF7Ep0sUs9gXk4ndP6avo/LXfE0bID4sw2eyM6Buev+u+m/hdjo8KkAZjo/CWKzGyOoQ7iIlQjF9Ygd2YpaESt4fWc5A4gDA/eKI0VifJywifKMwWAZ4+oNaaW9YJ4fWGEiM0=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>UeFdek4IHM57gPZcBL+84bX7uz7wkgf71KIqcHPXb0liCt9rKnF4yrR5V0VEWicfWUNRRGVOxJULSW8FoyepO+iZNIzBLXnP5BWDR0N6MHHeYf2LhEaujI4BDMJxCZkPthJrEGXMQ2Eex4goOF5ctZrIDt1/k36N0a5uQF8O+MWLbGFgPM7Cf3LMdG0WJIW66bmpSF/iA9Sy0tw+6M+iiQtw8QnL+3pQFTVNX3amAhS9lIjBpkKvwuHBoXla5yRhH/Ug8Hh2f6OU5QV4KUVF/EYlmdmyLNLfsejfNh07DN5zKSd7puQR4B/BEFfRAC8obzaGz6qp3YIwapF35bE3gxlkNfTJBsV5RuwxjZNkCRJenkfH87pLBUxZ3DFmnl0O</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>lk5ECL8j/feP/KnGD1qD6cTmEw+rMVkPEKf2zx4vnrwSaZ8isP9esSiukq89CkuIsr0wTat7IiLBxmAc5VE+yVxhV28ohm6WFxIY1qy2baE/O9CXFSgADJ0HK4M2AiVKA935HQV3wsWlpyb6lsEZf4fGrnUZkkXdBgzec1IQhcI=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>NIT2SOm1x1xLgW1WO9i/A1c49Gsn6h+d0N3W7Kr9/77zbYomdHPaTVnjlQZ5pDuzw1M/iArCkOTCsFhvOwOkL7ErpwaGep9g3FRoNiBeeoKrE4Edvf/ZSfYeC1H0LVwYL8wlUMCHcgQdxfpvAx3i38LSmBJTrP4qMvRbHTpPEF5mVpZZDeZpZVl8lyPMQUNIKfIcdnI45C05oqSiWbsG3kJPLWf4IKjQ6/vKQ3ipOfKee8wbk4n+OT3FpMc3CXvPfiJbLGs1E4IrfaXfPXupkR9ElZl6EJ4a5ryuvQ/5U9wIuCKzdvuOwqeF7Mly5MOSZkUjTW2nUmrXAZ+QS3TRYNDt80H9hkN72ZDQmPbGe/0l1BDhCqQVfc4lvasZ6hepocdZYYiMKY/kAO0gpfX+gMIz8kzBsRpz+v0e2N/pbNqaJOT+GYX2tcpf/+9AJw+QFRBjobNkZbKire2+Y5qbjgHenT6YtVw5huzm1Udj01ev2zmZXJa7fQWbFERiQPV1Lh0WLBGVc1OGtZgENZ8LLkA4fAsVeTINbsmxJMIchHNiIt+ZakFhYgUDLlUU3YfEya9p29/bjv4MqLekG4U2u2KgkltUU/liZAcV6/4xc0/2Ude+AcibqLcYgTUbFF9LzqSGQ/gmalN4Ere3AePOhX8Xmm2B466ArcN2fHzYOusuM1bfzr3IZwhM+wp/zDQH6tftFksIVuXvGD+SiRjsanAa3nfnK0I+</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAssociateService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ec2-54-175-5-94.compute-1.amazonaws.com/workforce-associate-soap/AssociateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssociateService" contract="WFSReference.IAssociateService" name="BasicHttpBinding_IAssociateService" />
    </client>
  </system.serviceModel>
</configuration>