<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAssociateService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ec2-54-175-5-94.compute-1.amazonaws.com/workforce-associate-soap/AssociateService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssociateService"
                contract="AssociateService.IAssociateService" name="BasicHttpBinding_IAssociateService" />
        </client>
    </system.serviceModel>
</configuration>