<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>


  <appSettings>
    <add key="GmailUserName" value="revature.projectliberate@gmail.com" />
    <add key="GmailPassword" value="reveroni" />
    <add key="GmailHost" value="smtp.gmail.com" />
    <add key="GmailPort" value="587" />
    <add key="AudienceID" value="revaturerevaturerevaturerevaturerevaturerevaturerevaturerevature" />
    <add key="AudienceSecret" value="reveronireveronireveronireveronireveronireveronireveronireveroni" />
    <add key="Issuer" value="http://localhost/workforce-felice-rest/" />
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>