<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>aUGlF2nCICOpitwLXEx5UBb5uR9u7OXduQobXpRPUlh5kgcTFaj2+NfLW82i0lh8pVLuhAYyt8DgPh4DT5erYrNtasnOfc2lgGkXeEjcIdAOjAbfCM3aD2WU9drU0RoQYlilq6Rq7o3RkGMK2Pq3t0XVJ9i94b7cZwYORIpxhCQ=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>fsUHM5akK56ihvqjN5XM/wzHSr9D6brChgWktKmjVMt/Ms02hvYBqyT1AjvDYU8+i5ZgxqrJaYfru7PWtKjGNFp7N//r3PPq500B0xNk5wNPsNbDNRveiN67uK+HGiuDy4CCKGxVuWb0ib/m+2d8kLoEXBRI8ub/krCyS0jdC7OeFm9mOuJLkEGbT7uJdsc1k9k8Q9KFTqRAFVQtIkdMdtFU8/vyhOp9yZFa4Idz7IjYox5ko3RL0KxNNlhWVPMqNKdLzwykYmQj3dY+QPQBxjItiSQkGfi1NgBHfF7nvMgweXidUJyOVOjmKDOIfmnAfHMYS8YxIWX/t7RpSUPpbnl8ZUGWDSHPyPAw46hasIrVGhdyEiqXcUBsGcth/Ol+qhng2KJQ8ti5I3PEwWdmde2iDK0JOu7vH66fkhFTlA/LnIiqhSd2B/CW+2SyAax0LjnQzj4BD8bcemv7MVgXDCDloY7uvVu18u/b674KNN8KOAdi/04AHU8zW0fTZ/nO2WKs/87G3utFJRpdnG88hvlDwH80gynEWw04+FF5L9oN7UaqU1cjllQIFjKmYNLRlmoxfdrBlrp0T/3J9SpM++53LRe82skYlaD2G+1NqtB47S0leC2lB9MXg44hKy/G+yfREuNFfhzJHjJYG0ssYEhgxT2yS9qg9CRGEkutYp2lve03PTZK5KBdJ4wGaLYt+p3erPfyprKlYkaXa3NhjQ==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
</configuration>