<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  
  <connectionStrings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>2bX7vKlrz4AuJx3ot3ClpjXFSAvEx57EmuLGl8b2YQCm0J69Z5M+QsP3CQh//TVXTRWkPNANgYl3Iyu/h2ZKs219kjIKOEHnL7mdsBwK9GWy4Cfa0uUysXc5Hiin0r9s9Cpcbbeo4Qd60T8qAiul8W5kmWmrAv/x0Qwka8BHP/Q=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>dz63vx7Qer4Nfgdao2etIIihYGe5HTs5s/Ahq+7zebpL14EDY9cw4i+j9RBXmwxeP+lbjrczpmQ3cqPjTwCzM9nqVy0kQj5+7/ThgTYSUwXke8qK309i0gvK6Kwetz88AByQMpfWOi9Y0bAs8vAYen5CRbQKD+vq243f5fx9p6OL8zJPsZlL95ADiVnoeq54Ire+I3suS7rKUlS+yRv+Z6OOzAgvef/lz2rNPi+mS1MNNEEadTRiFj6HQjY3/Hv8BAexX5yNdd3WDnKOnkdJOGwmQWY1hACFmIGzThU33d0aN9YHCI4vvtxHLnGW6Zycz0onmOLdDpvLzZi7LkzJepmWZ4hlyYTdOFuHLmhiuplRufgKr97LDSx9Wpflw4SGRK8qTnU9UHNaHahGEvQEVP4jaT32mquRRFahdROr3z0rXc5ok3UP2K+BzB9LNAXtMgoksNkx4knYtBexspEpbwRIts35LNJZhz/J5wF8xQ6IFStaB1P7STAt8oyXiIn86CYXUfwOkg5toFnP730BB9C6BHLiDnkaqWekNkJ3wxBBs7KdfovM6moJDW/4Fw/Oh6lkv+39Si9YaWwGsFzjwchT/vmWTtuiMG4jW3d+DpkSDZr75gkyFsiS95T0eKHHz+BLr0QscuclMkrA3tLzGnIT9RXlBoMFurJxd18/H2I1J0o9I19hI46JirifJFdtQMVz3c0QwXU=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>