<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>kiI7WyiOmVHpulU1k7xOrGScwloygu53szlhlYXQ2yvxigYVg5ONpiuGhr8X70UkVV29wIPkoIYghp6/F1bCrvLG5PeSbZ5GdXPb0VUfEly4+4kD2LEf21aS2O/vIsUxycqBK+B6f9Hj5KQttKcv5nOBoy2C6S8PHMrdSrYull4=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>6FxQLn3yUbBxst1N/8+yMlWqsyfCFiiUkmHOq64njwLQNjhsCS8Dnxtll4jrG11AKZFRB4iR52oBo8F0eNnSx3d8vuCW/gQ7L2DtvJdHOQNa6FHCbmpe38kkIfAnXpAts+A1tu99gbn35xnCk0UeTEF6X3L6GrUoH/R158Jq0/lBXLN5fS87wqjCOR1eybOl9FifydOxk1ouZd55jCBu+A66P4xXMd6Jj6dtefrrapJl9+AQPFxNJ/UAHQHkAP7Gvkm0U8wyuHa/2e0cTyPfaMU8nxqjfWUFDqpqOaTZsJsWxaZA8490UqC1JNBkZ4JQucKInDSlvdmbB2WUiB2sklYh2YCP4CqLA9FItEhsJTZpKEoCLXY4pRJ7L1owQzAvApydxyS6XkpNwgqRufN1YkkpJdd25JxZ/w9ApLtxGUUUYbPsbX/gzCVEvlgmXRbbE6bLgwPuW7fDYNG7ii6gC90x/ftcyWlXszqqu2jdz4anaxT86byrgm+3j2SRtyFprjic4EipbhzvZUcyN4G3Nz27yAc7snDP4khTdhWAVvOaJh+klL9pz+SOAMy5D9Rgl/TAj69BjX8lZsrx+mgMlwNZYY8seMnzooBrnjTXFTGdNa8T0aAGHL2NOb7+yJDSJ/DgOgtXBK70jSERN5APlomt6QVJb8qTzlPSSplhBGZ2Nzlbf/MwfMeAYZpl51bVJmXnDUyznmw=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  
   <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
    
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>