<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <connectionStrings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>2JaNcaTjdMjI/CvhUR+eYnmKaKdoyI+BIQrWwr+6FAZxQCF7k9kyhVns7qaeke/nFDknj/q6bRi3wRDCksu3DQj/wiZSnPngoLMR/yLSnZz3L799YDqQOg9ZC9OGousoHgsplcDr5bpmAePcre+uoz3Dsjye0kXHZ9HEPKjfhgw=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>zOHVWdrMgQ3GiwhShL1Uq/BvbWPZEiYsQCpOM5warXmW3SqLV/dAveb+rPxmGokQNiXjHQmILbkLqNL5Ua5dAkh1oPsXYpdgWDcpvWiNYBohUIDurfmsHxXT/cmje21ktmmwXJ9ncqtY9Nt89ogXWRMMjsXIAdhc1b1KU7+/j5lduS2wBFweIUG1ofKDOTEZxT2VHamE5v3CYWFw5afcwjrRLrzCFw4wS0+1d4yhVuTGlIG0jh4cEliDp+HbAG1OPpafyotaTobwjYs+Yj6YrDT5K+sZWU/L9skkbLdL4rIBcHBQ8Bbz/hqPerd6E/A42lwfbW1dmJIlRxsEApRCQW3ijy1Uzz8EAo1THHYRDO0Yhz2uarQvbr/0ackBLbmD2oyaF0oDOKmBGN4zMlckhns6X+sS+XsGqa+eHidnzCKgaggNVCJQy/liE3d1xHxd5SmkztFcsOzKpzljCIuNGPI3sw7PgKtQFspzl1OZapMm+C7dgSe9IizaS8t25csXblcoejkm7gW4mW4hkxLhdk6ALGYdhPFBjvc86K8o7ppJljseTicXZ4mFrDXVlJeelpNyy0AEhAkpFpXdOt4lJakSP53wdMPxDYpev+gsGppYXK2DQvolM/o0wL8Csi+wgpnltgoTxpqrOValj/QDfP+fNLKc9HYVGWOWMct4iyVljeVZA8ysYvzC5CZfijJcQgikK8HhN4I=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>